[user]
	name = Thyago Dias
	email = thyagojuniorrochadias@gmail.com
[alias]
	s = !git status -s
	c = !git add --all && git commit
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
	
[credential]
	helper = cache
[core]
	editor = code
